[submodule "use-cases/cml-class-automation"]
	path = use-cases/cml-class-automation
	url = https://github.com/CiscoDevNet/cml-class-automation
[submodule "use-cases/cml-cicd"]
	path = use-cases/cml-cicd
	url = https://github.com/CiscoDevNet/cml-cicd
[submodule "use-cases/dst-automation"]
	path = use-cases/dst-automation
	url = https://github.com/CiscoDevNet/dst-automation
[submodule "use-cases/virlutils"]
	path = use-cases/virlutils
	url = https://github.com/CiscoDevNet/virlutils
[submodule "use-cases/ansible-cml"]
	path = use-cases/ansible-cml
	url = https://github.com/CiscoDevNet/ansible-cml
[submodule "use-cases/cml-nxos-l3-edge-fabric"]
	path = use-cases/cml-nxos-l3-edge-fabric
	url = https://github.com/charliefenwick/cml-nxos-l3-edge-fabric
[submodule "use-cases/sdwan-devops"]
	path = use-cases/sdwan-devops
	url = https://github.com/CiscoDevNet/sdwan-devops
[submodule "lab-topologies/ciscolive-brkcrt-2059"]
	path = lab-topologies/ciscolive-brkcrt-2059
	url = https://github.com/CiscoLearning/ciscolive-brkcrt-2059.git
[submodule "use-cases/cloud-cml"]
	path = use-cases/cloud-cml
	url = https://github.com/CiscoDevNet/cloud-cml.git
[submodule "scripts/eve2cml"]
	path = scripts/eve2cml
	url = https://github.com/CiscoDevNet/eve2cml.git
