[Unit]
Description=CML Prometheus Exporter
After=network.target
After=virl2.target

[Service]
EnvironmentFile=/etc/default/cml-exporter
ExecStartPre=/usr/bin/firewall-cmd --zone public --permanent --add-port="${EXPORTER_PORT}/tcp" && /usr/bin/firewall-cmd --reload
ExecStart=/usr/local/bin/cml-exporter.sh
User=virl2
Restart=on-failure

[Install]
WantedBy=multi-user.target
